<div class="contai row">
  <div class="room col-8" id="room" [ngStyle]="{'background-image': 'url(' + backroundnumber + ')'}">
    <div class="parent_custom_div" *ngIf="ishide" cdkDragBoundary=".room" cdkDrag [style.width]="550+'px'" [style.height]="180+'px'">
      <div class="frame position_custom" *ngFor ="let items of custom_picture"   [ngStyle]="{'border-color':items.bordercolor, 'width':items.width ,'height': items.height,'top':items.top,'left':items.left}" >
        <div class="subframe">
          <div class="div-image" id="{{items.id}}" >
            <button class="addimage" (click)="image.click()" ></button>
            <input type="file" #image id="{{items.id}}" style="display: none;" (change)="fileChangeEvent($event,items.id)" id="{{items.id}}" accept="image/*" aria-label="+" accept="image/*" (change)="processFile($event)">
            <img id="{{items.id}}"  [ngStyle]="{'position':items.position,'min-height': items.min_height,'min-width': items.min_width}"  [src]="items.srcimage" (click)="zoomimage(items.id)" class="custom-image" (dblclick)="removeimage(items.id)"/>     
          </div>
        </div>
      </div>
    </div>
    <div (dblclick)="doubleClick(item.cost)" (click)="openalertinfo($event)" [ngStyle]="{'width':width_div , 'height': height_div}" *ngFor="let item of items" cdkDragBoundary=".room"  (cdkDragEnded)="dragEnd($event)" cdkDrag>
      <div class="image-spended" (click)="openalertinfo($event)" id = {{item.name}} [ngStyle]="{'background-image': 'url(' + item.url + ')','width':width_div , 'height': height_div}" ></div>
    </div>
  </div>
  <div class="setting col-4">
    <mat-card class="">
      <mat-card-header style="display: flex !important; align-items: center !important; text-align: center !important;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Thiết kế tranh bộ</mat-card-title>
        
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="overflow-y: scroll !important;" >
        <mat-accordion style="overflow-y: scroll !important;">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Chọn phông nền 
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2" rowHeight="80px">
              <mat-grid-tile class="chooseroom" [colspan]="1" [rowspan]="2" *ngFor="let item of background" (click)="chooseroom($event)" [ngStyle]="{'background-image': 'url(' + item.url + ')'}">                  
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="isexpanded1">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Chọn tranh bộ 
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2"  rowHeight="130px">
              <mat-grid-tile class="chooseroom" [rowspan]="2" [colspan]="1" *ngFor="let item of basket"  cdkDropList   [cdkDropListData]="basket" cdkDrag (cdkDropListDropped)="dragEnd($event)"  >                  
                <mat-grid-list cols="1" style="height: 100% !important; width: 100%;" rowHeight="fit">
                  <mat-grid-tile [colspan]="1" [rowspan]="3" [ngStyle]="{'background-image': 'url(' + item.url + ')'}" class="room-items"   ></mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1" >{{item.name}}</mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1" class="cost-item" >{{item.cost}} đồng</mat-grid-tile>
                </mat-grid-list>
                <!-- <mat-card class="example-card" >
                  <mat-card-header [ngStyle]="{'background-image': 'url(' + item.url + ')'}" >
                  </mat-card-header>
                  <mat-card-content >{{item.name}}</mat-card-content>
                  <mat-card-footer>{{item.cost}} đồng</mat-card-footer>
                </mat-card> -->
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
          <mat-card-content style="margin-top:20px; padding-left:25px">
            <h5 class="example-h5">Tự thiết kế tranh bộ</h5>
            <section class="example-section">
              <mat-checkbox class="example-margin" [(ngModel)]="ishide">Thiết kế tranh</mat-checkbox>
            </section>
          </mat-card-content>
          <mat-expansion-panel *ngIf="ishide" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Chọn bộ tranh
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2"  rowHeight="180px">
              <mat-grid-tile class="chooseroom" [rowspan]="2"  *ngFor="let item of basket"  cdkDropList (click) ="choosecustompicture(item.id)"  [cdkDropListData]="basket" cdkDrag  >                  
                <mat-grid-list cols="1" style="height: 100% !important; width: 100%;" rowHeight="fit">
                  <mat-grid-tile [colspan]="1" [rowspan]="3" [ngStyle]="{'background-image': 'url(' + item.url + ')'}" class="room-items"   ></mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1" >{{item.name}}</mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1" class="cost-item" >{{item.cost}} đồng</mat-grid-tile>
                </mat-grid-list>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-footer id="btnorder" style="background-color: red;" (click)= "showbill()">
        <strong>{{costspend}} đồng</strong><span style="float:right;padding-right: 20px;"><strong>Đặt hàng ngay</strong></span>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{primaryColour: PrimaryWhite, secondaryColour: PrimaryRed, tertiaryColour: SecondaryBlue, backdropBorderRadius: '3px'}"
      [template]="loadingTemplate"></ngx-loading>
<div id="Modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <image-cropper  [hidden]="!isshowcropper"
          format ="png" [imageQuality] = 100 
          [imageChangedEvent]="imageChangedEvent"         
          (imageLoaded)="imageLoaded($event)"
          (cropperReady)="cropperReady()"
          (imageCropped)="imageCropped($event)"
          (loadImageFailed)="loadImageFailed()"
          [containWithinAspectRatio] = "false" 
          [maintainAspectRatio] = "true" 
            [aspectRatio]= "aspectRatio"
           ></image-cropper>
      </div>
      <div class="modal-footer">
        <button type="button" (click) ="cropend($event)" class="btn btn-primary">Cắt hình</button >
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" >
            <img [src]="srcimagezoom" class="img-responsive">
        </div>
    </div>
  </div>
</div>
<div id="Modalbill" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="max-height: 5000px !important">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 padding">
            <div class="card">
                
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm-4">
                          <h2 class="text-dark mb-1 red-color">VINAGIT</h2>
                          <div class="red-color">54A Nơ Trang Long, Phường 14, Quận Bình Thạnh, TP.HCM </div>
                          <div class="red-color">SĐ:T 0375743906</div>
                          <div class="red-color">Email: info@tikon.com</div>
                          <div class="red-color">Website: https://mapcolour.com</div>
                        </div>
                        <div class="col-sm-1">
                          
                        </div>
                        <div class="col-sm-6 ">
                            <h1 class="mb-10 red-color">HÓA ĐƠN BÁN HÀNG</h1>
                            <div class="red-color">{{currentDate | date:'dd-MM-yyyy'}}</div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="row mb-4" style="margin-top: 40px !important;">
                      <div class="col-sm-8 red-color" style="text-align: left;">Họ tên khách hàng: {{fullname}}</div>
                      <div class="col-sm-4 red-color" style="text-align: left;">SĐT: {{phone}}</div>
                      <div class="col-sm-12 red-color" style="text-align: left;">Địa chỉ: {{address}}</div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table ">
                            <thead>
                                <tr class="table">
                                    <th class="center red-color" >STT</th>
                                    <th class="red-color">Tên sản phẩm</th>
                                    <th class="red-color">Mô tả</th>
                                    <th class="right red-color">Giá</th>
                                    <th class="center red-color">Thuế VAT(10%)</th>
                                    <th class="right red-color">Tiền sau thuế</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="body-table">
                                    <td class="center red-color">1</td>
                                    <td class="left strong red-color">{{items?.name}}</td>
                                    <td class="left red-color"></td>
                                    <td class="right red-color">{{items?.cost}}</td>
                                    <td class="center red-color">10</td>
                                    <td class="right red-color">$15,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2 ml-auto">
                          <div class="center red-color row" ><strong>$28,809,00</strong></div>
                          <div class="red-color row"><strong>VAT (10%)</strong></div> 
                          <div class="text-dark red-color row"><strong>$20,744,00</strong></div>      
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <p class="mb-0 red-color">Vinagit, TPHCM, VIETNAM, http://mapcolour.com</p>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
</div>
  <div id="contentexport" #contentexport class="modal fade pageWrapper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" #contentexport>
      <div class="modal-content">
          <div class="modal-body" >
            <div class="container" style="margin-top: 20px">
            <div class="row justify-content-center">
              <div class="col-12 col-md-10 col-lg-8 pb-5">
                              <!--Form with header-->
          
                              <form action="mail.php" method="post">
                                  <div class="card border-primary rounded-0">
                                      <div class="card-header p-0">
                                          <div class="bg-info text-white text-center py-2">
                                              <h3><i class="fa fa-envelope"></i> Nhập thông tin</h3>
                                              <p class="m-0">Thêm thông tin về người mua</p>
                                          </div>
                                      </div>
                                      <div class="card-body p-3">
          
                                          <!--Body-->
                                          <div class="form-group">
                                              <div class="input-group mb-2">
                                                  <div class="input-group-prepend">
                                                      <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                                  </div>
                                                  <input type="text" class="form-control" id="nombre" name="name" [(ngModel)]="fullname" placeholder="Họ và tên" required>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <div class="input-group mb-2">
                                                  <div class="input-group-prepend">
                                                      <div class="input-group-text"><i class="fa fa-phone text-info"></i></div>
                                                  </div>
                                                  <input type="number" class="form-control" id="nombre" name="phone" [(ngModel)]="phone" placeholder="Số điện thoại" required>
                                              </div>
                                          </div>
          
                                          <div class="form-group">
                                              <div class="input-group mb-2">
                                                  <div class="input-group-prepend">
                                                      <div class="input-group-text"><i class="fa fa-address-card text-info"></i></div>
                                                  </div>
                                                  <input type="text" class="form-control" id="nombre" name="address" [(ngModel)]="address" placeholder="Địa chỉ" required>
                                              </div>
                                          </div>
          
                                          <div class="text-center">
                                              <input type="submit" kendo-button  value="Xuất hóa đơn" (click)="addbill()" class="btn btn-info btn-block rounded-0 py-2">
                                          </div>
                                      </div>
          
                                  </div>
                              </form>
                              <!--Form with header-->
          
          
                          </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>